.btn-primary{
    background-color: #00b7ff;
    color:#ffffff;
    box-shadow: 5px 10px 30px rgba(189, 198, 64, 0.411);
    transition: all ease 0.2s;
}
.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}
.reset{
    color: black;
}
.port-line{
    height: 500px;
}
